p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}

.w-full {
  width: 100%;
}

.bg-pink {
  background-color: pink;
}

.bg-blue {
  background-color: blue;
}

.text-blue {
  color: blue;
}

.text-pink {
  color: pink;
}

.padding-20 {
  padding: 20px;
}

.padding-40 {
  padding: 40px;
}

.padding-60 {
  padding: 60px;
}
